APP_NAME=
ENV=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

JWT_SECRET=
JWT_ALG=
ACCESS_TOKEN_MINUTES=
REFRESH_TOKEN_DAYS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=
SMTP_PORT=
EMAIL_FROM=
SMTP_USERNAME=
SMTP_PASSWORD=
APP_URL=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=


#POSTGRES_HOST=
#POSTGRES_PORT=
#POSTGRES_DB=
#POSTGRES_USER=
#POSTGRES_PASSWORD=






#MAIL_FROM_ADDRESS=
#MAIL_FROM_NAME=
